.drop_down_select {
  // @apply w-full;
  @apply flex items-center mb-2;

  .label_container {
    @apply w-1/4 text-right;
  }

  .select_container {
    // @apply w
  }

  label {
    @apply block text-gray-700 text-sm;
  }

  .drop_down_wrapper {
    @apply relative;

    >select {
      @apply block appearance-none w-full bg-gray-200 border border-gray-400 text-gray-700 text-sm p-1 mx-2 pr-8 leading-tight;

      &:focus {
        @apply outline-none bg-white border-gray-500;
      }
    }

    .icon_wrapper {
      @apply pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700;

      svg {
        @apply fill-current h-4 w-4;
      }
    }
  }
}