@import "tailwindcss/base";
@import "tailwindcss/components";

.project_card {
  @apply w-1/3 mb-4 rounded overflow-hidden shadow-lg;

  >img {
    @apply w-full h-32;
  }

  .card_content {
    @apply px-6 py-4;

    >div {
      @apply font-bold text-xl mb-2;

      >p {
        @apply text-gray-700 text-base;
      }
    }
  }

  .card_sub_content {
    @apply px-6 py-4;

    >span {
      @apply inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2;
    }
  }
}

.category_card {
  @apply w-1/4 p-2 mb-4;

  .card {
    @apply rounded p-4 h-32 overflow-hidden shadow-lg flex items-center justify-center border-solid border border-gray-600;
  }
}