@import "tailwindcss/base";
@import "tailwindcss/components";

// CREATE USER FORM
.create_user_form {
  @apply w-full z-50;

  .name_credentials {
    @apply flex -mx-3 mb-6;

    .first_name {
      // md:w-1/2 px-3 mb-6 md:mb-0
      @apply w-full;

      >label {
        @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
      }

      >input {
        @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight;

        &:focus {
          @apply outline-none bg-white;
        }
      }

      >p {
        @apply text-red-500 text-xs italic;
      }
    }

    .last_name {
      @apply w-full;

      >label {
        @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
      }

      >input {
        @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight;

        &:focus {
          @apply outline-none bg-white border-gray-500;
        }
      }
    }
  }

  .main_row {
    @apply flex flex-wrap -mx-3 mb-6;

    >div {
      @apply w-full px-3;
    }

    label {
      @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
    }

    input {
      @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight;

      &:focus {
        @apply outline-none bg-white border-gray-500;
      }
    }

    p {
      @apply text-gray-600 text-xs italic;
    }
  }

  .modal_footer {
    @apply flex justify-end pt-2;

    .primary_btn {
      // @apply px-4 bg-transparent p-3 rounded-lg text-indigo-500 mr-2;
      @apply flex rounded-md shadow-sm px-1;

      >button {
        // sm:text-sm sm:leading-5
        @apply rounded-md border border-transparent px-4 py-2 bg-red-600 text-base leading-6 font-medium text-white shadow-sm;

        &:focus {
          // shadow-outline-red
          @apply outline-none border-red-700 transition ease-in-out duration-150;
        }

        &:hover {
          @apply bg-red-500;
        }
      }

      // &:hover {
      //   @apply bg-gray-100 text-indigo-400;
      // }
    }

    .cancel_btn {
      // @apply px-4 bg-indigo-500 p-3 rounded-lg text-white;
      @apply flex rounded-md shadow-sm px-1;

      >button {
        // sm:text-sm sm:leading-5
        @apply inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm;

        &:focus {
          // shadow-outline-blue
          @apply outline-none border-blue-300 transition ease-in-out duration-150;
        }

        &:hover {
          @apply text-gray-500;
        }
      }

      // &:hover {
      //   @apply bg-indigo-400;
      // }
    }
  }
}



.create_project_form {
  .main_row {
    label {
      @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
    }

    input {
      @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight;

      &:focus {
        @apply outline-none bg-white border-gray-500;
      }
    }
  }

  .file_uploader {
    @apply uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 py-4;
  }

  .primary_btn {
    // @apply px-4 bg-transparent p-3 rounded-lg text-indigo-500 mr-2;
    @apply rounded-md shadow-sm px-1;

    >button {
      // sm:text-sm sm:leading-5
      @apply rounded-md border border-transparent px-4 py-2 bg-red-600 text-base leading-6 font-medium text-white shadow-sm;

      &:focus {
        // shadow-outline-red
        @apply outline-none border-red-700 transition ease-in-out duration-150;
      }

      &:hover {
        @apply bg-red-500;
      }
    }
  }
}